{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>W<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>rld of Markd<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>wn</h1>
        <p>
            Say goodbye to WYSIWYG editors! Welcome to the world of Markdown.
        </p>
    </div>

    <hr/>

    <section>
        <div class="row">
            <div class="col-md-9">
                <h2>What is Markdown?</h2>
                <p>
                    Markdown is a text-to-HTML conversion tool for web writers. Markdown allows you to write using an easy-to-read, easy-to-write plain text format, then convert it to structurally valid XHTML (or HTML). <strong>Kittens like Markdown too.</strong>
                </p>
            </div>
            <div class="col-md-3">
                <img src="https://placekitten.com/220/145">
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <img src="https://placekitten.com/220/135">
            </div>
            <div class="col-md-9">
                <h2>Who uses Markdown?</h2>
                <p>
                    Sites such as <a href="https://github.com/" target="_blank">GitHub</a> and <a href="https://www.reddit.com/">reddit</a> use variants of Markdown to facilitate discussion between users. A Markdown dialect is also used by the instant messaging system <a href="https://slack.com/" target="_blank">Slack</a>.
                    You can even use it when reporting bugs in <a href="https://www.atlassian.com/software/jira" target="_blank">JIRA</a>.
                </p>
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}
