{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-2">
            <h1>Register</h1>

            <form action="{{ path('register') }}"
                  method="post"
                  data-parsley-validate>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"
                           data-parsley-existing-email="true" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password"
                           minlength="8"
                           pattern="(?=.*\d)(?=.*[A-Z])(?=.*[a-z]).*$"
                           data-parsley-pattern-message="Het wachtwoord moet uit minimaal 8 karakters bestaan en een kleine letter, een hoofdletter en een cijfer bevatten."
                           required>
                </div>

                <div class="form-group">
                    <label for="passwordRepeat">Password (repeat)</label>
                    <input type="password" class="form-control" id="passwordRepeat" placeholder="Password (repeat)"
                           data-parsley-equalto="#repeat"
                           data-parsley-error-message="De wachtwoorden komen niet overeen"
                           required>
                </div>

                <button class="btn btn-default">Register</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app/register.js') }}"></script>
{% endblock %}
