$brand-secondary:           hsl(0, 100%, 30%);

$headings-color:            $brand-secondary;

$yellow-lighter:            hsl(45, 100%, 50%);
$navbar-inverse-color:      $yellow-lighter;
$navbar-inverse-bg:         $brand-secondary;
$navbar-inverse-link-color: $yellow-lighter;
