@import "variables";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "workshop";

.parsley-errors-list {
  margin: 5px 0 5px;
  font-size: 1em;
  line-height: 1em;
  color: #999;
}
